<div class="page" data-name="about">
  
  <div class="page-content">
    <main id="app-login">
      <div class="logobtn"><a href="/"><img class="logo" src="/www/images/logoalt.png" alt="PAYPANEL LOGO"></a></div>
      <div class="app-form">
        <form action="./pages/home.html">
          <div class="form-item">
            <span>Username</span>
            <input type="text" class="form-input" value="stbraide">
          </div>
          <div class="form-item">
            <span>Password</span>
            <input type="password" class="form-input" value="test1234">
          </div>
          <div class="btn">
            <button type="submit" class="form-button">SIGN IN</button>
          </div>
        </form>
      </div>
      <h5>payPanel POS. Designed by Cinfores</h5>
    </main>
  </div>
</div>
