/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #000673;
  --f7-theme-color-rgb: 0, 6, 115;
  --f7-theme-color-shade: #00044a;
  --f7-theme-color-tint: #00089c;
}

/* Your app custom styles here */