* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat';
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.otf) format("embedded-opentype"), url("../fonts/Montserrat-Regular.otf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.otf") format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.otf) format("embedded-opentype"), url("../fonts/Montserrat-Bold.otf") format("truetype");
}

.logo {
  width: 180px;
  text-align: center;
}

.logobtn {
  text-align: center;
}

.login-screen-close .bx, .edit-amount-close .bx, .processing-close .bx, .success-close .bx, .select-staff-close .bx {
  font-weight: bold;
  padding-right: 1rem;
}

.login-screen-close img, .edit-amount-close img, .processing-close img, .success-close img, .select-staff-close img {
  width: 150px;
}

.link .bx {
  font-weight: bold;
}

.link img {
  width: 150px;
}

#allBtn {
  bottom: 5rem;
  position: fixed;
  bottom: 1rem;
  width: 90%;
  text-align: center;
}

@media only screen and (min-width: 900px) {
  #allBtn {
    bottom: 5rem;
    position: fixed;
    bottom: 1rem;
    width: 97%;
    text-align: center;
  }
}

#payment-list ul {
  background: #f8f8f8;
  color: #000673;
}

.pageTitle {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

#app-home {
  background: url(../images/bg.png);
  height: 100vh;
  padding: 7.5rem 2rem 0 2rem;
  text-align: center;
}

#app-home h5 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: .5rem;
  font-weight: lighter;
  padding: 2rem 0;
}

#app-home h6 {
  font-size: .9rem;
  color: #0099CC;
  font-weight: 500;
  padding: 1rem 2rem;
}

#app-home .Btn {
  padding-top: 15rem;
  text-transform: uppercase;
}

#app-home .Btn .loginBtn {
  background: #fff;
  padding: .85rem 2.2rem;
  border-radius: 5px;
  border: 1px solid #fff;
  font-weight: bolder;
}

#app-home .loginBtnAlt {
  background: #00022B;
  padding: .85rem 2.2rem;
  border-radius: 5px;
  border: 1px solid #fff;
  font-weight: bolder;
}

#app-login {
  background: url(../images/pagesbg.png);
  height: 100vh;
  padding-top: 7rem;
}

#app-login .app-form {
  padding: 3rem 2rem;
}

#app-login .app-form .form-item {
  padding: .5rem 0;
}

#app-login .app-form span {
  padding: .3rem;
  color: #0099CC;
  font-size: .7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#app-login .app-form .form-input {
  margin: .5rem 0;
  width: 100%;
  padding: .85rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #000673;
}

#app-login .app-form .btn {
  padding: 1rem 0;
}

#app-login .app-form .btn .form-button {
  background: #00022B;
  color: #0099CC;
  border: 1px solid #00022B;
  border-radius: 5px;
  font-size: .8rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  padding: .9rem 0;
}

#app-login h5 {
  color: #000673;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: .55rem;
  font-weight: bold;
  padding: .5rem 0;
  text-align: center;
}

#app-dashboard {
  background: #f8f8f8;
  height: 100vh;
  padding: 1rem 1.2rem;
}

#app-dashboard h1 {
  color: #000673;
  font-weight: bolder;
  padding: 1rem 0;
}

#app-dashboard select {
  width: 100%;
  padding: .8rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #000673;
}

#app-dashboard .proceedBtn a {
  background: #00022B;
  color: #0099CC;
  border: 1px solid #00022B;
  border-radius: 5px;
  font-size: .8rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

#app-dashboard h5 {
  color: #000673;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: .55rem;
  font-weight: bold;
  padding: 1rem 0;
  text-align: center;
}

.search-staff {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  padding: .5rem 0;
}

.search-staff input {
  margin: .5rem 0;
  width: 100%;
  padding: .85rem 1rem;
  border: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #000673;
}

.search-staff button {
  padding: .7rem 0;
  background: #00022B;
  border: 1px solid #00022B;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  cursor: pointer;
}

.search-staff button .bx {
  font-size: 1.5rem;
  color: #0099CC;
  font-weight: bolder;
}

.search-staff span {
  padding: .5rem 0;
}

.edit-amount input {
  margin: .5rem 0;
  width: 100%;
  padding: .85rem 1rem;
  border: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #000673;
}

.processing {
  background: #f8f8f8;
  height: 95vh;
  padding: 9rem 1rem;
  text-align: center;
}

.processing h1 {
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000673;
}

.processing h6 {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #0099CC;
}

.processing .proceedBtn button {
  background: #00022B;
  color: #0099CC;
  border: 1px solid #00022B;
  border-radius: 5px;
  font-size: .8rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  padding: .9rem 0;
}

.success {
  text-align: center;
  padding-top: 3rem;
}

.success h1 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #00022B;
  padding: 1rem 0;
}

.success .bx {
  padding: 1rem 0;
  font-size: 8rem;
  font-weight: 100;
  color: #09ebaf;
}

.success .successBtn button {
  background: #00022B;
  color: #0099CC;
  border: 1px solid #00022B;
  border-radius: 5px;
  font-size: .8rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  padding: .9rem 0;
}

.success h4 {
  font-size: 1rem;
  color: #000673;
}

.success h6 {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(2, 43, 105, 0.4);
}

.staff-details, .amount-details {
  color: #000673;
  padding: 1rem 0;
}

.staff-details h3, .amount-details h3 {
  font-size: 1.2rem;
  font-weight: bolder;
}

.staff-details .title, .amount-details .title {
  font-size: .6rem;
  color: rgba(2, 43, 105, 0.6);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.staff-details .change, .amount-details .change {
  font-size: .5rem;
  color: rgba(2, 43, 105, 0.6);
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: .7rem 0;
}

.staff-details {
  border-bottom: 1px solid #eee;
  padding-top: 3rem;
}

.amount-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% 10%;
      grid-template-columns: 90% 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.amount-info .bx {
  font-size: 1.3rem;
  font-weight: bolder;
}
/*# sourceMappingURL=payPanel.css.map */