*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    
}

//Mixins
@mixin loginBtn {
    padding: .85rem 2.2rem;
    border-radius: 5px;
    border: 1px solid #fff;
    font-weight: bolder;
}

@mixin buttons{
    background: $color-2;
    color: $color-3;
    border: 1px solid $color-2;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.otf) format("embedded-opentype"), url("../fonts/Montserrat-Regular.otf") format("truetype");
}
  
// @font-face {
//     font-family: 'Montserrat';
//     font-weight: bolder;
//     src: url("../fonts/Montserrat-Bold.otf") format("truetype");
// }
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Medium.otf") format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.otf) format("embedded-opentype"), url("../fonts/Montserrat-Bold.otf") format("truetype");
}


// Variables and Mixins
$color-1: #000673;
$color-2: #00022B;
$color-3: #0099CC;

.logo{
    width: 180px;
    
    text-align: center;
}
.logobtn{
    text-align: center;
}

.login-screen-close, .edit-amount-close, .processing-close, .success-close, .select-staff-close{
    .bx{
        font-weight: bold;
        padding-right: 1rem;
    }
    img{
        width: 150px;
    }
}
.link{
    .bx{
        font-weight: bold;
    }
    img{
        width: 150px;
    }
}

#allBtn{
    // position:absolute;
    bottom:5rem;
    position:fixed;
    bottom:1rem;
    width:90%;
    text-align: center;
}

@media only screen and (min-width: 900px){
    #allBtn{
        // position:absolute;
        bottom:5rem;
        position:fixed;
        bottom:1rem;
        width:97%;
        text-align: center;
    }
} 

#payment-list{
    ul{
        background: #f8f8f8;
        color: $color-1;
    }
    
}
.pageTitle{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.2rem;
}
// App Styling
#app-home{
    background: url(../images/bg.png);
    height: 100vh;
    padding: 7.5rem 2rem 0 2rem;
    text-align: center;
    
    h5{
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: .5rem;
        font-weight: lighter;
        padding: 2rem 0;
    }
    h6{
        font-size: .9rem;
        color: $color-3;
        font-weight: 500;
        padding: 1rem 2rem;
    }
    .Btn{
        padding-top: 15rem;
        text-transform: uppercase;
        .loginBtn{
            background: #fff;
            @include loginBtn()
        }
    }
    .loginBtnAlt{
        background: $color-2;
        @include loginBtn()
    }
}

// Login
#app-login{
    background: url(../images/pagesbg.png);
    height: 100vh;
    padding-top: 7rem;
    .app-form{
        padding: 3rem 2rem;
        .form-item{
            padding: .5rem 0;
        }
        span{
            padding: .3rem;
            color: $color-3;
            font-size: .7rem;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        .form-input{
            margin: .5rem 0;
            width: 100%;
            padding: .85rem 1rem;
            border: 1px solid #ddd;
            border-radius: 5px;
            color: $color-1;
        }
        .btn{
            padding: 1rem 0;
            .form-button{
                @include buttons;
                padding: .9rem 0;
            }
        }
    }
    h5{
        color: $color-1;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: .55rem;
        font-weight: bold;
        padding: .5rem 0;
        text-align: center;
    }
}

// Dashboard
#app-dashboard{
    background: #f8f8f8;
    height: 100vh;
    padding: 1rem 1.2rem;
    h1{
        color: $color-1;
        font-weight: bolder;
        padding: 1rem 0;
    }
    select{
        width: 100%;
        padding: .8rem 1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        color: $color-1;
    }
    // .select-input{
    //     padding-bottom: 15rem;
    // }
    .proceedBtn{
        a{
            @include buttons;
            // padding: .9rem 0;
        }
    }
    h5{
        color: $color-1;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: .55rem;
        font-weight: bold;
        padding: 1rem 0;
        text-align: center;
    }
}


// Staffs Page
.search-staff{
    display: grid;
    grid-template-columns: 80% 20%;
    padding: .5rem 0;
    
    input{
        margin: .5rem 0;
        width: 100%;
        padding: .85rem 1rem;
        border: 1px solid #ddd;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        color: $color-1;
    }
    button{
        padding: .7rem 0;
        // margin: .2rem 0;
        background: $color-2;
        border: 1px solid $color-2;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        .bx{
            font-size: 1.5rem;
            color: $color-3;
            font-weight: bolder;
        }
        outline: none;
        cursor: pointer;
    }
    span{
        padding: .5rem 0;
    }
}

.edit-amount{
    input{
        margin: .5rem 0;
        width: 100%;
        padding: .85rem 1rem;
        border: 1px solid #ddd;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        color: $color-1;
    }
}
//Processing
.processing{
    background: #f8f8f8;
    height: 95vh;
    padding: 9rem 1rem;
    text-align: center;
    h1{
        font-size: 1rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $color-1;
    }
    h6{
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $color-3;
    }
    .proceedBtn{
        button{
            @include buttons;
            padding: .9rem 0;
        }
    }
}

//Success
.success{
    text-align: center;
    padding-top: 3rem;
    h1{
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $color-2;
        padding: 1rem 0;
    }
    .bx{
        padding: 1rem 0;
        font-size: 8rem;
        font-weight: 100;
        color: #09ebaf;
    }
    .successBtn{
        button{
            @include buttons;
            padding: .9rem 0;
        }
    }
    h4{
        font-size: 1rem;
        color: $color-1;
    }
    h6{
        letter-spacing: 2px;
        text-transform: uppercase;
        color: rgba(2, 43, 105, 0.4);
    }
}

// Amount and staff details
.staff-details, .amount-details{
    color: $color-1;
    padding: 1rem 0;
    h3{
        font-size: 1.2rem;
        font-weight: bolder;
    }
    .title{
        font-size: .6rem;
        color: rgba(2, 43, 105, 0.6);
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .change{
        font-size: .5rem;
        color: rgba(2, 43, 105, 0.6);
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: .7rem 0;
    }
}
.staff-details{
    border-bottom: 1px solid #eee;
    padding-top: 3rem;
}

// Amount Info
.amount-info{
    display: grid;
    grid-template-columns: 90% 10%;
    // display: flex;
    align-items: center;
    // justify-content: center;
    .bx{
        font-size: 1.3rem;
        font-weight: bolder;
        // float: right;
    }
}